<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__wobble"
      src="assets/img/AdminLTELogo.png"
      alt="AdminLTELogo"
      height="60"
      width="60"
    />
  </div>

  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="main-content" >
    <app-main-content></app-main-content>
  </div>

  <div class="main-footer">
    <footer class="main-footer" style="margin-left: -5px">
      <strong
        >Copyright &copy; 2014-2021
        <a href="https://adminlte.io">AdminLTE.io</a>.</strong
      >
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
      </div>
    </footer>
  </div>
</div>
<router-outlet></router-outlet>
